[2015-01-16 23:14] pesho opened #1 "Prepare image for official status"
In order to become the _official_ `iojs` image on Docker Hub, we need to make some updates, as well as create docs. The process is described here:

https://github.com/docker-library/official-images
https://github.com/docker-library/docs

[2015-01-16 23:56] rvagg opened #2 "Rename on Docker Hub"
[code]

is a bit clunky, can we rename "docker-iojs" on Docker Hub to just "iojs" so it's more like:

[code]

Of course if this becomes "official" it'll be nicer anyway but let's not presume that'll actually happen and optimise for the current case.

Thoughts? I'm assuming it's possible to have differing repo names here and on Docker Hub.

[2015-01-16 23:59] pesho commented on #2
+1 on the shorter `iojs/iojs`, but the Docker Hub repo would have to be recreated (AFAIR its id can't be changed).

[2015-01-17 00:08] rvagg commented on #2
either way this is pretty awesome, it must be said:

[code]

[2015-01-17 00:29] retrohacker commented on #2
https://registry.hub.docker.com/u/iojs/iojs/

Done. Readme updated.

[2015-01-17 00:29] #2 closed, assigned to nobody

[2015-01-17 17:39] retrohacker opened #5 "`buildpack-deps:jessie` over `debian:jessie`"
What advantage does this offer? From what I can see, most of the packages installed on top of `debian:jessie` in `buildpack-deps:micro` and `buildpack-deps` aren't dependencies of our project.

[2015-01-17 17:40] retrohacker commented on #5
// CC @pesho

[2015-01-17 17:48] pesho commented on #5
@wblankenship That's the difference between the main and the `-slim` variants. The `-slim` one is based on debian:jessie, but has to apt-get more stuff. It results in smaller image overall, but creates a larger delta on each build. The `buildpack-deps` base indeed contains lots of stuff we don't need, but it's a common base for all official docker images, so will probably get pulled in anyway in m

[2015-01-17 18:56] retrohacker commented on #5
Ah, I see. That does make sense. :smile:

[2015-01-17 18:56] #5 closed, assigned to nobody

[2015-01-18 01:41] rvagg commented on #5
IMO this is a Docker fable, the majority of deployments with Docker are going to be relatively homogeneous

[2015-01-18 03:05] pesho commented on #5
Could be, we can't know for sure. But that's not the only factor. The `-slim` variant has a pretty big delta over `debian:jessie` - currently ~250MB. This will be pulled every time the image is updated. The default variant pulls the big `buildpack-deps:jessie` once, but afterwards each delta is only ~27MB.

It's true that `buidpack-deps` is unnecessarily big. The best option would probably be to c

[2015-01-18 03:14] retrohacker commented on #5
Wouldn't this be no different than what we are doing now, just moving a layer to another image? The only advantage that `buildpack-deps:jessie` gives is that there is a chance that many images on a host will share that as a common base. Nobody would share our base so I don't see the benefit.

[2015-01-18 03:24] pesho commented on #5
Not completely (assuming you mean the `-slim` variant). If you run `apt-get update` && `apt-get install ...` the packages that we need twice in a row, you'll get different layers, with different hashes, even though the packages will be the same. Making that a fixed image would save a lot of useless re-downloading.

But then of course we'd need to maintain that base image, taking care to update it

[2015-01-18 15:19] pesho commented on #1
I've prepared PRs against `docker-library/official-images` and `docker-library/docs`. Please review them before I make the submission:

https://github.com/pesho/iojs-docker-official-images
https://github.com/pesho/iojs-docker-docs

cc @rvagg @wblankenship

[2015-01-18 19:28] retrohacker commented on #1
https://github.com/iojs/io.js/issues/446#issuecomment-70403399

:smile:

[2015-01-18 19:54] retrohacker commented on #1
@pesho lgtm :+1:

[2015-01-18 23:48] retrohacker commented on #1
reopened with #8

[2015-01-19 01:30] pesho commented on #1
PRs sent:

https://github.com/docker-library/official-images/pull/409
https://github.com/docker-library/docs/pull/141

[2015-01-19 21:15] pesho opened #9 "Explore ways to trim down the image size"
Some ideas suggested elsewhere:
1. Use a smaller base image for the default variant, e.g. `buildpack-deps:jessie-micro`
2. The `build-essential` package might be too fat, as it also brings stuff for Debian package development which we don't need. We may save space by installing only the useful bits.
3. The packages needed for building native modules might be left out (with a warning to the users t

[2015-01-19 21:15] pesho commented on #9
For the record, I'm -1 on point 3, +1 on the rest (if testing shows real savings).

[2015-01-19 21:51] tianon commented on #9
FWIW, I'm only +1 on point 3 for the slim variant -- in the default image I definitely agree that they ought to be there, and I'd actually highly recommend you stick to the fat `buildpack-deps` there too (since it specifically includes the C headers necessary for the vast majority of native modules to be compiled nicely)

[2015-01-19 22:46] retrohacker commented on #9
I am :+1: atm for 3. Use case:

[code]

You don't always want to run `npm install` inside the container. A lot of applications fail quick and restart, this works well with that.

[2015-01-19 22:51] pesho commented on #9
My main objection is that this would change the provided functionality of the `-slim` image in a big way. It's currently a drop-in replacement for the default variant, in the vast majority of usecases, and people may already rely on that (from the `node` image).

Can we instead introduce a new variant, e.g. `-tiny`?

[2015-01-19 23:02] tianon commented on #9
Please don't introduce a new variant.  It's not supposed to be a 100% drop-in replacement for the default variant.  What we're discussing is what the "slim" variant was supposed to be from the beginning.

[2015-01-19 23:10] pesho commented on #9
In that case I change my -1 to 0 :neutral_face:

[2015-01-19 23:12] pesho commented on #1
Closing as we are now [official](https://registry.hub.docker.com/_/iojs/), congrats :grinning:

[2015-01-19 23:12] #1 closed, assigned to pesho

[2015-01-19 23:28] rvagg commented on #1
congrats @pesho & @wblankenship !

[2015-01-19 23:34] tianon commented on #9
It could be that some of my Node assumptions are wrong: aren't there a huge
number of modules on NPM that _don't_ require native compilation?  Would
essentially every single Node project need support for native modules?

[2015-01-19 23:35] tianon commented on #9
To clarify a little bit: the slim variants are intentionally supposed
to be for people who really know what they're doing and want to create
an image that's as small as is reasonably possible for their very
specific use-case.

[2015-01-19 23:36] tianon commented on #9
(So if it's reasonable for a user to create a Node application that
doesn't require native modules, then IMO it's reasonable to not
include extra stuff to be able to build those modules here, and
instead document what's necessary to get there.)

[2015-01-19 23:38] rvagg commented on #9
yes, that's a reasonable assumption, it's safe to say that if you are using compiled/native addons for Node.js then you're probably used to shaving a few yaks so it shouldn't a problem to have Docker images that don't support that out of the box, particularly if they are labelled "slim"

[2015-01-20 00:21] retrohacker commented on #9
So to summarize where we are here, we want to remove `python` `build-essential` `git` and `pkg-config` from `slim`. The rationale is that not all Node applications require native modules, or running `npm-install` at all, and that the `slim` image should accommodate this use case.

Still exploring reducing the size of `latest` by:
- Depending on `buildpack-deps:jessie-micro`
- Cherry picking depend

[2015-01-20 00:22] retrohacker commented on #9
Will open a pull request with a revised version of `slim` for further comment.

[2015-01-21 17:29] GeorgeAnagnostopoulos opened #13 "correct docker run command"
please fix the last docker run command by replacing --it with -it

[2015-01-21 21:10] #13 closed, assigned to retrohacker

[2015-01-21 21:26] jonathanong opened #15 "Signature warning"
[code]

what does this mean?

[2015-01-21 21:41] pesho commented on #15
There is no chain of signatures by trusted keys inside the Docker image leading to this key. That's normal and not really an issue. The purpose of this check, and the fetching of the key from a separate keyserver, is to guard against replacing the key published on https://iojs.org/dist/ (e.g. by compromising the server) after the `Dockerfile` was created.

[2015-01-21 21:41] #15 closed, assigned to nobody

[2015-02-03 23:02] rvagg opened #17 "new PGP key"
@chrisdickinson has just done v1.1.0 and it's signed with his key so for these dockerfiles to work they'll also need to pull in his key. All release keys in use will have their fingerprints listed at the bottom of https://github.com/iojs/io.js under each person authorized to release (Chris' will be making its way there shortly). You should just be able to append them together, space-separated at t

[2015-02-03 23:39] rvagg commented on #17
9554F04D7259F04124DE6B476D5A82AC7E37093B

so perhaps something like this:

[code]

[2015-02-03 23:40] pesho commented on #17
@rvagg works fine, I'm preparing a PR for the new release

[2015-02-06 01:19] kriswill commented on #9
Here's a project that did something similar for old node.js https://github.com/jprjr/docker-tinynode.  He got his image down to ~30 MB.

Then you can imagine a much faster on-boarding for demos:

[code]

[2015-02-07 06:04] #17 closed, assigned to nobody

[2015-02-07 06:05] rvagg opened #21 "First io.js Build WG and Docker sub-WG meeting"
Posting here to draw attention to https://github.com/iojs/build/issues/43 to draw for anybody hovering around this project that would like to be more involved. I see the Docker effort as a sub working group of build but much of its activity will be entirely separate so you don't have to have an interest in broader build efforts to be involved here.

[2015-02-07 17:21] retrohacker opened #22 "Remove iojs/docker-iojs from docker registry"
The builds are failing since we setup the repo to become an official image. https://registry.hub.docker.com/u/iojs/docker-iojs/builds_history/123497/

Planning on removing the repository this weekend.

List objections here :smile:

[2015-02-07 18:13] CuthbertJungle commented on #9
instead of docker you could move to the unikernel http://osv.io/ it only includes files you need, there's a project for the old node.js code here: https://github.com/cloudius-systems/osv-apps/tree/master/node

[2015-02-07 18:28] pesho commented on #22
No objections to list :grinning: Best to have a single canonical repo.

[2015-02-07 23:47] mtparet opened #23 "Security issue: iojs is run as root"
In case of security flaw in the application run and in docker (as it happenned and will happen)
cf:
http://blog.zeltser.com/post/104976675349/security-risks-and-benefits-of-docker-application
http://thenewstack.io/docker-addresses-more-security-issues-and-outlines-plugin-approach/
http://www.slideshare.net/jpetazzo/docker-linux-containers-lxc-and-security
https://blog.xenproject.org/2014/06/23/the

[2015-02-07 23:47] mtparet commented on #23
cf also https://github.com/joyent/docker-node/issues/1

[2015-02-08 00:54] pesho commented on #23
Something like:

[code]

...folowed by this just before `CMD`:

[code]

...and also modifying `onbuild` to use e.g. `/home/app/src` as base.

Does this sound right?

[2015-02-08 07:38] mtparet commented on #23
Yes sounds right !

[2015-02-08 16:35] retrohacker commented on #22
Deleted :rocket:

[2015-02-11 10:08] goloroden opened #24 "Global install fails"
Basically, this is the same issue as joyent/docker-node#10:

When I run the container `iojs:1.1.0` using

[code]

and then inside if the container run

[code]

I get an error message by node-gyp telling me that the user is `undefined`:

How do I fix that?

[2015-02-11 12:38] goloroden commented on #24
I found out that using

[code]

at least sets the user to `root` instead of `undefined`. Nevertheless, the error is still there.

[2015-02-11 15:45] retrohacker commented on #22
Also deleting https://registry.hub.docker.com/u/iojs/iojs/ in favor of the official repositories.

List any objections here :smile:

[2015-02-11 16:27] retrohacker commented on #24
Initial run through makes me think this may be a problem with pm2-web's native module dependency mdns2.

`npm install -g forever http-server browserify uglify-js ngist jshint goingnative` succeeds.

Those errors you listed are only warnings (although bizarre) and it appears it succeeds in installing to the temp directory.

I believe the thread you link to indicates the same thing.

After an `apt-g

[2015-02-11 16:57] retrohacker commented on #24
Interestingly enough, it appears that some of `pm2-web`'s deps want node `0.8.X` while others require `=>.10`. Running on node:0.8 fails, but running on node:0.10 appears to succeed.

mdns2 requires the version of v8 that shipped with node v0.10. You must run this package on node v0.10 in order for it to compile correctly.

`docker run -it node:0.10 apt-get update && apt-get install libavahi-compa

[2015-02-11 16:57] #24 closed, assigned to nobody

[2015-02-11 17:29] maxbeatty commented on #22
Just to be crystal clear, you're referring to this official repository https://registry.hub.docker.com/_/iojs/?

[2015-02-11 17:40] retrohacker commented on #22
@maxbeatty yes :smile_cat:

[2015-02-12 03:14] jlmitch5 opened #28 "Docs not clear on what the supported tags mean"
I was having trouble finding what the differences were for the various tags (standard, onbuild and slim).  After browsing the various iojs dockerfiles (and the relevant buildpack-deps dockerfiles), it makes sense.

I wanted to propose an addition to the readme.  I'm envisioning a Tag Details section that explains the difference between the standard and slim (gives details as to what packages stand

[2015-02-12 14:35] chorrell commented on #28
:+1:

I've been thinking about doing the same for Node docker image README as well. We recently added a _wheezy_ variant and updated the _slim_ variant to be leaner. A section that explains the differences between variants would be good.

[2015-02-12 14:42] jlmitch5 commented on #28
Okay cool, I'm going to work on this this evening @chorrell and I'll come to you with a draft to see what you think.  Keeping the node/iojs container doc formats consistent would be a very good thing, I think :).

[2015-02-14 22:58] jlmitch5 commented on #28
@chorrell Here's what I'm thinking.  I'm not thrilled with how the `-onbuild` tags are described, but having difficulty condensing that into something easily readable.

## Tag Details

The official IOJS docker images augment the [jessie buildpacks](https://registry.hub.docker.com/_/buildpack-deps/).  The following packages are including in the various tag types the official iojs docker images supp

[2015-02-15 20:11] retrohacker commented on #28
`iojs` and `node` are not the only images with the `-onbuild` and `-slim` variants. It appears to be an unspoken standard at the moment.

The base version accommodates what is believed to be the standard use case, where you have a machine with a large number of docker images on it. In this case, a vast majority of the packages listed in your list above will be shared by _most_ of those containers,

[2015-02-17 06:44] jlmitch5 commented on #28
Yes, the official docker images do share a fair bit and I think there's probably ways of standardizing this somewhat more.  I also think there's some strange stuff going on wrt the build-deps standard image (does the iojs, or any of these images really need `imagemagick` by default?), but that's not really an issue w this repo.

But because it was brought up and we have some Docker maintainers cc'

[2015-02-19 17:49] retrohacker opened #29 "The io.js Built Team WG Proposal"
We are putting together a governance model for the io.js build team, and are proposing that the docker-iojs team be a sub-working group of that team. To be part of this conversation, check out: https://github.com/iojs/build/pull/49

[2015-02-19 18:54] pesho commented on #29
I'd like to limit my involvement to just docker-iojs for now, so a separate sub-group sounds good :+1:

[2015-02-20 10:52] trodrigues commented on #28
I just found this issue by looking for the answer to this same question: what do these tags mean?

I'd also like to see this being explained in the README, and while I do understand @jlmitch5 concern about it potentially getting outdated, until this becomes a standard documented somewhere else (and even then a link should be provided on the README), I think having this explanation would be better

[2015-02-23 21:55] davglass commented on #28
I was looking for the difference between `slim` and `onbuild` too and had to look into the `Dockerfile`s to get the idea of the diff.

I like the README update that @jlmitch5 proposed, it reads well and answers some common questions.

Also, with upgrading to docker@1.5.0 the build command requires another CLI argument:

[code]

[2015-02-23 22:21] yosifkit commented on #28
For the descriptions, I would love to have this for all images that have `onbuild` and/or `slim` versions.

@wblankenship would you mind if I take your description for iojs versions and make it generic for all the Official Images?  We can have it automatically added to the docker hub readme based on whether these other tags exist.

[2015-02-23 23:12] jlmitch5 commented on #28
@davglass I think that you still need that param in older versions...it just used to be "." And now can be an absolute path?  Might be wrong, I stopped following the progress of that issue in docker proper a few months ago unfortunately.

@yosifkit I think you might have been talking about my descriptions?  @wblankenship was just referencing that these tags are common across several official image

[2015-02-23 23:37] retrohacker commented on #28
@yosifkit if you are referring to the open pull request https://github.com/iojs/docker-iojs/commit/aa2545696146de503363bc388d904c2ab877d21d

I think that would be a fantastic idea. :smile: It seems that this is a very frequent conversation. People often times people miss the point of `buildpack-deps`, especially since reading the `Dockerfile` gives very little insight into its benefits. Having a d

[2015-02-23 23:41] retrohacker commented on #28
@jlmitch5 I made commit request https://github.com/iojs/docker-iojs/commit/aa2545696146de503363bc388d904c2ab877d21d a few days ago and failed to drop a link here and to open it as a pull request. It was built by combining previous discussions from: #9 and #5 along with the insight you provided above.

It is more of a proposal than an attempt at a final version. I find conversations like these are

[2015-02-23 23:44] pesho commented on #28
@wblankenship why not make this into an actual PR? (right now it's just a commit in a branch)

[2015-02-23 23:44] yosifkit commented on #28
Thanks @wblankenship and @jlmitch5.  I'll work on a common one over in docker-library/docs and let you guys know what I come up with (and I hope that you make comments if I get off in the woods).

[2015-02-23 23:44] retrohacker commented on #28
@pesho So I failed to post a link here AND actually open a PR :wink:

[2015-02-25 20:23] #21 closed, assigned to nobody

[2015-02-25 20:26] retrohacker commented on #9
Interesting output:

![snapshot1](https://cloud.githubusercontent.com/assets/1081565/6379728/fcc50c6c-bcf9-11e4-8c86-a8a34115c830.png)

We have managed to cut 275 packages out of the final image for our slim variant.

[2015-03-06 10:58] Starefossen commented on #29
Is there a list of members of the docker-iojs sub-working group some where?

[2015-03-07 16:17] retrohacker commented on #29
@Starefossen not at the moment. We are still trying to iron out what it means to be a sub-working group.

We could do a pull request to our own README.md with those actively involved in dev.

[2015-03-07 20:41] Starefossen commented on #29
Cool, thanks. I guess I'll hang around and see where it goes :smile:

[2015-03-07 20:58] pesho commented on #29
@wblankenship btw what is the rationale for the docker-team being a sub-WG of Build? I don't think they are really related.

[2015-03-07 21:03] mikeal commented on #29
FYI, we don't have a provision for "sub-WG" in the governance model. Informally the term has been used for working groups that are basically being bootstrapped out of another WG (this happened with evangelism spinning out of the website WG).

While this behavior isn't documented the working group doc does set the expectation that working groups are basically already running and getting things done

[2015-03-07 21:19] pesho commented on #29
Thanks @mikeal

I think we should at least have a separate GitHub team (@iojs/docker). Not sure if this requires a separate WG as well.

[2015-03-07 21:21] mikeal commented on #29
Good idea, either @rvagg or I can set that up whenever you like :)

[2015-03-10 21:28] pesho opened #39 "Docker Working Group proposal"
This is a proposal and preliminary discussion about forming a new Docker Working Group within io.js. Refs #29. Working Groups are described [here](https://github.com/iojs/io.js/blob/v1.x/WORKING_GROUPS.md).

Possible WG charter (draft):

We also need at least 3 initial WG members (the more the better IMO). Here is an alphabetical list of possible candidates who have contributed in the past (please

[2015-03-10 21:38] jessfraz commented on #39
You can feel free to continue to ping me on whatever patches etc :) I enjoy
a nice break from the large influx of stuff to docker. But I would hate to
commit to be a maintainer and let you all down when I have other maintainer
responsibilities for the docker project. But do feel free to ping me on
whatever. You all are awesome :D

On Tue, Mar 10, 2015 at 2:28 PM, Peter Petrov notifications@github.

[2015-03-10 21:47] Starefossen commented on #39
I would very much like to be a part of the Docker Working Group :whale:

[2015-03-10 21:47] tianon commented on #39
I'd echo what Jess said -- I don't want you guys relying on me too much, but I'm happy to take part and provide input where I can, especially since being involved in changes here helps with the review after the official-images PR (since all the changes and rationale for them are already familiar). :+1:

[2015-03-10 21:52] tianon commented on #39
I'd echo what Jess said -- I don't want you guys relying on me too much,
but I'm happy to take part and provide input where I can, especially since
being involved in changes here helps with the review after the
official-images PR (since all the changes and rationale for them are
already familiar). :+1:

[2015-03-10 21:54] yosifkit commented on #39
I'll also stick to the sidelines with @tianon; watching so that the official-images PRs can go smoothly.  Feel free to ping and ask questions about the official images if need arise.

[2015-03-11 00:01] chorrell commented on #9
For Node.js some recent-ish work was done to trim down slim that you might want to incorporate:

https://github.com/joyent/docker-node/commit/181c14e55927b5eb3fc40c0a59af60eee8402734

[code]

[2015-03-11 03:48] hmalphettes commented on #39
I would also like to join the Docker WG.

[2015-03-11 22:24] pesho commented on #9
@chorrell we considered doing the same in the past (https://github.com/iojs/docker-iojs/pull/10#issuecomment-70598353), but instead just switched to using `buildpack-deps:jessie-curl` as a base for `slim` (https://github.com/iojs/docker-iojs/pull/19). It's a bit bigger (because of `curl`, `wget`, and `ca-certificates`), but simpler.

[2015-03-11 22:27] pesho commented on #39
Ok, we have the required 3 initial WG members (@hmalphettes, @pesho, @Starefossen). Let's wait 24 more hours, in case more people would like to join, or if there are any other suggestions. After that I'll submit our request to the TC.

[2015-03-11 22:44] rosskukulinski commented on #39
@pesho I haven't made any contributions (yet), but I have been following the work done here and would like to volunteer to be a 4th WG member.  I'm also a member of the Evangelism WG.

[2015-03-11 23:24] retrohacker commented on #9
What is the rationale behind `buildpack-deps:jessie-curl`, I see that it saves a layer in our _Dockerfile_, but generally the argument for building off of `buildpack-deps` is to minimize the overall size of a docker installation by sharing as many layers between images as possible This contradicts the purpose of the `slim` image, which is generally used in single image deployments.

[2015-03-11 23:28] pesho commented on #9
@wblankenship you did +1 #19, remember?

I guess the rationale is that it is simple, while still being almost minimal.

[2015-03-11 23:39] pesho commented on #39
@rosskukulinski thanks for volunteering :+1: I'm ok with you joining as an initial member, if the others agree as well.

[2015-03-12 00:52] retrohacker commented on #9
Yup, I do. I just want document our thought process so we can reference it moving forward :smile:

[2015-03-12 01:15] retrohacker commented on #39
I'm on board :smile:

[2015-03-12 01:15] pesho commented on #39
Awesome :+1:

[2015-03-12 03:43] hmalphettes commented on #39
+1 from here to @rosskukulinski as an initial member.

[2015-03-12 16:33] jlmitch5 commented on #39
Yes, I would like to join!  I'm on vacation right now, and I'm sorry for responding at the last minute!

[2015-03-13 00:23] pesho commented on #39
Proposal submitted: https://github.com/iojs/io.js/pull/1134

@rosskukulinski sorry, I didn't include you in the initial member list. The [rules](https://github.com/iojs/io.js/blob/v1.x/WORKING_GROUPS.md) for starting a WG say that the initial members "`should be individuals already undertaking the work described in the charter`", I hadn't noticed that before. Of course, you are welcome to join lat

[2015-03-13 16:28] rosskukulinski commented on #39
No problem!  I'll continue to lurk and help out where I can.  I have some
designated open source time next week, so you'll hear more from me.

How do g'all usually communicate? iRC? Gittim? Just github issues?

On Thursday, March 12, 2015, Peter Petrov notifications@github.com wrote:

[2015-03-13 19:59] retrohacker commented on #39
@rosskukulinski we are communicating primarily through github issues right now. I accidentally created a gitter via https://github.com/iojs/docker-iojs/pull/32 so it exists but is currently unusued.

[2015-03-13 20:00] retrohacker commented on #39
I opened a pull request for a governance document for if/when our request to become a wg is approved: https://github.com/iojs/docker-iojs/pull/40

[2015-03-20 05:35] RnbWd commented on #9
I'm still using the original [slim](https://github.com/docker-library/node) configs for iojs. It's only [289.8 MB](https://github.com/RnbWd/node-io), which **409.5 MB** smaller than iojs:latest (699.3 MB) and 98.6 MB larger than iojs:slim (191.2 MB). The jessie equivalent would be 384.9 MB

I felt stuck between choosing a slim container that isn't compatible with any node-gyp repos vs. an enormous

[2015-03-20 13:59] retrohacker commented on #9
@RnbWd

An easy way forward is to build off of the `iojs:slim` image and install these packages back on top in your personal repo, then add this repository as a repository link so your image rebuilds when ours does. You can certainly build from the debian base image, but the main advantage to building from this repo is that you will continue to get the latest versions of iojs when they release, wi

[2015-03-25 18:04] RnbWd commented on #9
@wblankenship thanks - I think I'll do that. I'm hosting a [node-io](https://registry.hub.docker.com/u/rnbwd/node-io/) repo just for debian:wheezy slim. Although this is an issue I fault with node's official repo (which I began using before iojs) - this repo seems to copy their standards - but breaking slim (in node) was unexpected. Switching kernels and removing ggc support was just such a massiv

[2015-03-25 18:38] RnbWd commented on #9
Actually after building, I noticed that using iojs:slim as a base created an image that's 415.5 MB - while the wheezy:slim version is 289.8 MB - so I'm sticking with wheezy. Maybe jessie's just bigger? But the goal is a slim image that also has python, git, and build essential - wheezy is definitely smaller base to use.

edit: I'm also exploring even smaller linux distros :)

[2015-03-25 19:02] retrohacker commented on #9
@RnbWd if you have serious space constraints, take a look at building a static iojs executable in a volume in a throw away container (where you can have all your build dependencies installed). Then use an `ADD` to include that in your "real" image (maybe based on BusyBox). Just remember to keep `libc` dynamically linked, it is needed for some dns wizardry.

[2015-03-25 19:10] RnbWd commented on #9
Thanks for the tip! My main goal is a minimal container that's capable of
downloading NPM repo's that use python / gcc. Running multiple docker
containers on a tiny cloud host can take up quite a lot of disk space, so
I'm trying to minimize that (and download IO time)

[2015-03-26 12:11] tracker1 opened #44 "Consider alpine/busybox base image"
https://registry.hub.docker.com/_/alpine/

Though I'm not sure how much will actually be saved once Python2.7, build tools and libssl dependencies are installed, it might be worth considering.

[2015-03-26 20:03] oren commented on #44
:+1:

[2015-03-26 20:07] oren opened #45 "Error when building the official image: x509: certificate signed by unknown authority"
`docker build -t oreng/iojs .`

[code]

Here is my Dockerfile:

[code]

[2015-03-26 20:28] rosskukulinski commented on #45
@oren, which version of Docker are you using?

I just tried to reproduce the issue using Docker version 1.5.0, build a8a31ef

Dockerfile:

[code]

And the build command:

[code]

[2015-03-26 20:30] rosskukulinski commented on #45
I also don't see the error when I use the --pull flag for docker build:

[code]

[2015-03-26 21:30] oren commented on #45
`docker version`

[code]

`docker info`

[code]

[2015-03-26 21:32] oren commented on #45
Also `hub create` (using https://github.com/github/hub) gives me similar error:

[code]

is there a problem with my laptop? I am on ubuntu 14.10

[2015-03-26 21:51] Starefossen commented on #45
I'm on Ubuntu 14.04 with Docker v1.0 through v1.5 and have never experienced a similar issue with io.js docker image, nor any other image on the Docker Registry for that sake.

Could you `apt-get update -y && apt-get install -y ca-certificates` and try again just to make sure you are up to date with a up to date certificate root store? :grinning:

[2015-03-26 21:52] Starefossen commented on #39
@wblankenship this was approved by the last TC meeting, wasn't it?

[2015-03-26 21:52] rvagg commented on #39
yes

[2015-03-26 21:55] oren commented on #45
apt-get update -y

[code]

[2015-03-26 21:56] retrohacker commented on #39
@Starefossen Will get the final documents updated and ready to go tonight :smile:

[2015-03-26 21:57] rosskukulinski commented on #45
that's odd.  I'm wondering if there's something up with NodeSource's nodejs installer script.  CC: @rvagg

[2015-03-26 22:08] Starefossen commented on #45
@oren Maybe docker/docker#6474 is of any help? Alos, have a look at [this SO question](http://stackoverflow.com/questions/27536180/docker-on-mac-behind-proxy-that-changes-ssl-certificate), and maybe try setting the `--insecure-registry` docker flag as I suspect this is a host/docker issue, and not the signing of io.js itself.

On a separate not, I would highly recommend you to use a [LTS version](

[2015-03-27 00:39] oren commented on #45
I `rm /etc/apt/sources.list.d/nodesource.list*`
and now i get:

[code]

[2015-03-27 18:27] oren commented on #45
I am closing this issue since we are talking about it here - https://github.com/docker/docker/issues/6474

[2015-03-27 18:27] #45 closed, assigned to nobody

[2015-03-29 02:01] oren commented on #44
@tracker1 https://github.com/oren/alpine-node - only 22 MB

[2015-03-29 04:13] jbergstroem commented on #44
Perhaps run this binary against the test suite to make sure it passes?

[2015-03-29 21:54] retrohacker commented on #44
@jbergstroem automated tests of our docker images is def on my roadmap. Just haven't had time. I'll open an issue for it though.

[2015-03-29 21:55] retrohacker opened #46 "Automated tests of docker images"
Run iojs and npm through their paces before considering them ready to deploy.

[2015-03-30 00:39] jbergstroem commented on #44
Just saying that the alpine stuff is pretty much bleeding edge (that alpine-node seems to pull the latest available from alpine). If this ends up being our recommended solution, it'd be great to back that statement up. Btw, I'm also really like the suggested approach of minimising the container size as long as we're very comfortable with the toolchain that leads us there.

[2015-03-30 17:55] yosifkit commented on #46
Would this be helpful: [official-images test suite](https://github.com/docker-library/official-images/tree/master/test)?  We are working on having more tests for more images.  If it can work for you, feel free to add tests and help us improve the tool for everyone :smiley:.

[2015-03-30 18:06] retrohacker commented on #46
@yosifkit probably! I'll take a pass at it soon.

[2015-03-30 18:25] tracker1 commented on #44
@oren thanks, had considered doing the same... added issue suggesting the addition of pre-requisites for gyp...

@jbergstroem cool, I'd thought about just seeing which version was in `apm` and how well up to date the alpine image would be myself, hadn't taken the time.  Agreed on minimizing the size... even though it's not too bad, ubuntu and debian images are a bit bigger and if we can start off

[2015-03-30 18:28] oren commented on #44
yup. tiny images are nice. Here is nginx in 6 MB - https://github.com/oren/alpine-nginx

[2015-03-30 18:44] retrohacker commented on #44
100% agree with the direction this is going. I'll be glad to tackle this, but it might be a few weeks before I'm at a point where I can explore this area (my backlog is pretty long right now). If @oren or @tracker1 (or others?) wants to kick off exploring this in the form of a PR to a new branch (maybe `alpine`?) we can start iterating on the idea. Thoughts?

[2015-03-30 18:45] retrohacker commented on #44
( //CC: @pesho @Starefossen @hmalphettes @jlmitch5)

[2015-03-30 18:51] pesho commented on #44
I also like this, and would welcome a PR adding it as a tag in this repo (possible tags: alpine, micro, busybox, or something else?)

[2015-03-30 19:06] tianon commented on #44
IMO "alpine" would be the most self-descriptive tag :smile:

[2015-03-31 00:08] pesho commented on #44
A few points, before anyone starts working on such a PR:
- The image shouldn't rely on an external package repository (as @oren's image does). A possible exception is, if this repository is also managed by the (at this point hypothetical) [Docker WG](https://github.com/iojs/io.js/pull/1134), but that would be a pretty major change requiring further discussion.
- The image should properly verify du

[2015-03-31 03:26] hmalphettes commented on #44
The source of the iojs package build is here: https://github.com/alpinelinux/aports/blob/master/testing/iojs/APKBUILD

The image 'alpine:edge' does not contain gnupg indeed; Note that gnupg is available as a supported package.

[2015-03-31 04:35] hmalphettes commented on #44
If we go down this route dont we need to provide the rest of the images: "iojs:alpine-slim", "iojs:alpine", "iojs:alpine-onbuild" ?

Starting from @oren's Dockerfile I have been testing Alpine to run some modules with native dependencies. @oren's image is a fine alternative to iojs:slim.

We would need a second fatter alpine image with the build tools to support this situation:

[code]

That image

[2015-03-31 04:54] oren commented on #44
What about having 2 images: 22 MB image for situations where native modules are not needed, and 700 MB for the other case.

[2015-03-31 05:03] hmalphettes commented on #44
@oren at the moment there are 3 images based off debian jessie
- iojs:slim (just runtime no support for native dependencies) - 193 MB
- iojs (with build tools) - 700 MB
- iojs:onbuild (build tools and some extras for installing and running an app) - 700 MB

@oren could you specify the content of the 2 images you have in mind?

[2015-03-31 05:08] jbergstroem commented on #44
Good thing to have in mind: alpine runs on musl (at least when I last checked). Has anyone run the iojs test suite on such a docker image yet?

[2015-03-31 07:27] oren commented on #44
Both _mjones from #alpine-linux and myself run the test suite.

### _mjones

**environment**
alpine edge on kvm full virtualisation.
**results**
7 tests fail, 828 tests pass. It looks like the failures are deliberate behaviour of musl libc (the failed tests are one due to busybox 'ps' not having the p option, and the rest TLS/SSL). He will investigate it later.
Details here: http://paste.ubuntu.co

[2015-03-31 11:07] tracker1 commented on #44
@hmalphettes given the binary capable version is about the same size as the current slim, I'd say that's pretty nice.

[2015-04-02 08:39] hmalphettes commented on #44
@tracker1 agreed: it is very nice.

[2015-04-02 19:49] Starefossen commented on #46
An automated build on Docker Hub would give us build errors. Another option is [Wercker](http://wercker.com) which seams very Docker oriented – but they do not currently support building your own Dockerfiles on their infrastructure [1].

[1] http://devcenter.wercker.com/docs/faq/can-i-build-dockerfiles.html

[2015-04-02 20:55] termie commented on #46
Hi hi, one of the wercker guys here. It's true that we don't support building dockerfiles at the moment, though there are plenty of places that will do that part (we're still debating supporting it considering how easy it is to get done and how non-standardized the commands people tend to use in them are).

The two common use cases we see are 1) people using that built dockerfile image as a base o

[2015-04-03 12:33] Starefossen commented on #44
I second @pesho's comment on verifying binaries in order for this to become an official io.js image under the `:alpine` tag.

[2015-04-03 12:42] Starefossen commented on #39
The working group docs has been merged so this issue can now be closed. Should we make a `docker` team and add the members as collaborators for this repo maybe?

[2015-04-03 12:50] pesho commented on #39
Yes. This has been requested in https://github.com/iojs/io.js/pull/1134, I'm not sure what's the holdup there. @rvagg @mikeal can one of you guys take a look.

[2015-04-03 16:04] retrohacker commented on #39
Let's either keep it open until https://github.com/iojs/io.js/pull/1134 is resolved or open a new issue to track it from this repo.

[2015-04-03 16:10] retrohacker commented on #46
Thanks @termie! @Starefossen I was considering creating a Dockerfile that variably inherits from each of the images we would like to test, and that file have the unit tests in it. Docker Hub may not be a good candidate for that since it requires shipping before testing.

I was considering setting up a build server on D.O. that handles it, but it would be a bit before I can get to that point.

[2015-04-03 16:11] retrohacker commented on #44
:+1: on verification, and I would still like to see #46 be a prerequisite to shipping this if it gets that far.

[2015-04-03 17:31] Starefossen commented on #46
Did you have any thoughts on which tests to run @wblankenship? My first thought was to run the io.js core test suite – but this actually crashes v8 at some point along with a bunch of other [test failures](https://gist.github.com/Starefossen/2425632b88700f712f31)!

This was my Dockerfile setup:

[code]

[2015-04-03 17:55] retrohacker commented on #46
I want to run the io.js test suite and https://github.com/nodesource/distributions/pull/12#issuecomment-56770431 at a minimum.

[2015-04-03 21:53] pesho commented on #23
Un-assigning this, in case anyone else wants to give it a try.

[2015-04-03 22:41] termie commented on #46
the io.js tests are pretty intensive,  I get about 28 failures a bunch of which are based on the test being run a little differently than when io.js runs them normally (which is to say there is supposed to be a bit more stuff in the Release dir than just iojs).

Anyway, I wanted to see how the new wercker stack handles it and in general poke at your use case:

https://app.wercker.com/#build/551f13

[2015-04-03 22:45] termie commented on #46
(on the plus side, v8 doesn't fail :) )

[2015-04-04 01:45] hmalphettes commented on #23
@pesho I'll give it a shot sometimes next week as I actually need this for a customer.
Feel free to assign it to me or simply wait for a PR when it is ready enough.

[2015-04-04 06:45] Starefossen commented on #23
@hmalphettes you have probably read [this comment](https://github.com/iojs/docker-iojs/pull/26#issuecomment-74551237) in #26, but just to make sure:

[2015-04-04 09:50] jbergstroem commented on #46
@termie: Do you mean building v8 or testing it? Testing v8 against musl would be interesting to hear about.

[2015-04-04 15:53] Starefossen commented on #46
@jbergstroem I think @termie v8 comment was directed towards [my comment](#issuecomment-89369497) that I managed to get a [V8_Fatal error](https://gist.github.com/Starefossen/2425632b88700f712f31) when running the io.js test suite inside of the official Docker image for io.js.

[2015-04-04 22:08] jbergstroem commented on #46
@Starefossen ah, ok.

[2015-04-04 23:56] oren commented on #44
Update: I am able to run the tests and get 4 errors. To reproduce it follow https://github.com/oren/test-iojs-docker-alpine

[code]

[2015-04-05 17:13] retrohacker commented on #44
Looks like the first 3 are permission errrors (maybe)? The last one is a bit strange. I'm not used to running the iojs-test suite though.

[2015-04-05 17:18] Starefossen commented on #44
Unfortunately there are some challenges with running the io.js test suite 😕 Maybe someone at iojs/build may be able to help?

[2015-04-07 02:19] retrohacker commented on #46
Here is my current CI setup, its a sandbox for the iojs/docker-iojs project (it is really rough around the edges): http://104.236.43.123:8080/job/test/11

It is hooked up to the repo: https://github.com/wblankenship/test/pull/5

[2015-04-07 10:53] pesho commented on #39
Mission completed :)

[2015-04-07 10:53] #39 closed, assigned to nobody

[2015-04-07 10:55] pesho commented on #29
Closing as #39 was implemented instead

[2015-04-07 10:55] #29 closed, assigned to nobody

[2015-04-07 10:57] pesho commented on #9
Closing as the original goals were achieved. Please open separate issues or PRs for new specific opportunities (such as #44).

[2015-04-07 10:57] #9 closed, assigned to nobody

[2015-04-07 15:27] retrohacker commented on #46
Congratulations @termie and the wrecker group: http://blog.wercker.com/2015/04/02/Introducing-our-docker-stack.html

:smile:

[2015-04-07 15:30] Starefossen commented on #46
Wow! Very nice indeed @termie 😄👏

[2015-04-17 19:52] Starefossen opened #51 "How do we handle a io.js v2.0 release candidate?"
There has been some rumbling in the latest TC meetings, and very recently in iojs/io.js#1436, about releasing one or more release candidates (RCs) for the next major version of io.js (v2.0). I can only assume that the RC versions will be available similarly to how the official builds are distributed.

How should we handle RC versions with regards to the io.js Docker image? Do we ignore them and wa

[2015-04-17 19:55] Starefossen commented on #22
Closing this issue since it has been resolved.

[2015-04-17 19:55] #22 closed, assigned to nobody

[2015-04-17 20:05] Fishrock123 commented on #51
I'm not really sure what you are talking about. release Candidates have only come up at https://github.com/jasnell/dev-policy in relation to node.

There will not be a `2.0.0.-rc` in io.js. There will be nightlies, and `2.0.0`.

[2015-04-17 20:12] Starefossen commented on #51
From [io.js TC Meeting 2015-04-15](https://docs.google.com/document/d/1zlYeYS0LCyIjN4KsjXh9d46hNjp302M6L1K_-_OckzQ):

From iojs/io.js#1436:

[2015-04-17 20:13] Fishrock123 commented on #51
Huh. oookay.

[2015-04-18 17:04] pesho commented on #51
Are there other official Docker images which publish non-final releases?

The current process (sending a PR to [docker-library/official-images](https://github.com/docker-library/official-images) for each release) is quite clumsy. I'm not sure it can accomodate an even faster release schedule (i.e. one that includes rc/next/canary releases).

[2015-04-19 13:14] Starefossen commented on #51
Yes, `mysql:5.7.7-rc` https://github.com/docker-library/official-images/blob/de76ad36fa8698fb5fe56eb3aa75dd128e2776e6/library/mysql#L11

Yes, it is a bit cumbersome. An automated build would be better suited to accommodate a faster phase.

[2015-04-20 19:31] crestenstclair opened #53 "1.7 tag not yet latest on dockerhub"
Dockerhub tag list does not reflect the addition of the 1.7 tag

https://registry.hub.docker.com/_/iojs/tags/manage/

[2015-04-20 19:40] Starefossen commented on #53
Yes and no. The `1.7` is in fact there, just not visible on the Docker Hub website (see the proof bellow). The Docker guys are [aware of the issue](https://github.com/docker-library/official-images/pull/664#issuecomment-94532867), and I believe they are working on a fix.

[code]

[2015-04-21 09:45] Starefossen commented on #51
@rvagg what is the current status of io.js v2.0 release candidate builds? Any thoughts on how many RCs there may be before the final version lands?

[2015-04-21 09:57] pesho commented on #51
Another example I forgot about is `node` image - it had tags for the unstable `0.11.x` releases. I think it would be ok for us to do the same, assuming the `2.0rc` releases will not be too frequent. The `latest` tag should keep pointing to the stable branch.

[2015-04-21 10:02] Starefossen commented on #51
Yes, `latest` should absolutely point to the stable branch!

[2015-04-24 04:27] hmalphettes commented on #53
It is listed now: we can close this issue.

BTW I don't have permissions to act on this github repo: is this something I should request directly somewhere?

[2015-04-24 05:08] #53 closed, assigned to nobody

[2015-04-24 06:42] Starefossen commented on #53
@mikeal Could you add @hmalphettes to the [docker](https://github.com/orgs/iojs/teams/docker) team? He's a part of the initial working group members as per #39 and the [readme](https://github.com/iojs/docker-iojs#people).

[2015-04-24 10:28] rvagg commented on #53
not sure who did it or when but there's a pending invite already, @hmalphettes go to https://github.com/orgs/iojs/teams/docker and see if it asks you to join.

[2015-04-24 12:17] hmalphettes commented on #53
Thanks @rvagg and @Starefossen : somehow I had missed the email.
Cheers!

[2015-04-24 15:38] mhart commented on #44
FWIW, I've been using io.js on my Alpine Docker image for a while now (only 24.6 MB!) – there are only two failing tests on my stack, due to assumptions in the tests themselves.

One test (test-module-loading-error.js) is loading an already-built native linux module, which I assume is built with glibc because it fails with "Exec format error" – native modules work fine on Alpine if they're compile

[2015-04-24 16:20] oren commented on #44
:+1:

[2015-04-25 01:07] rvagg commented on #44
Sorry for jumping in mid-stream here and not fully groking the entirety of this thread but I think @jbergstroem's point about testing needs to be expanded on: when @iojs/docker is considering releasing images based on specific platforms like this it would be great if we could take a more coordinated approach to the issue of platform support. If you go ahead and push an Alpine Linux based image whi

[2015-04-27 00:37] retrohacker commented on #44
@rvagg I can commit to having a CI figured out for the iojs docker images by end of June.

[2015-04-28 09:30] rvagg commented on #51
We haven't had the V8 merge yet but it should land in the coming days, once that happens you could consider experimenting with RC / nightly builds and this work may be helpful for other major jumps in functionality, even releasing images based on `next` in the future.

Here's some relevant thoughts:
- https://iojs.org/download/nightly/ is probably the closest we'll get to "RC" builds, I think that

[2015-05-09 19:57] #51 closed, assigned to nobody

[2015-05-15 13:43] Starefossen opened #58 "Joining the Node.JS Foundation"
io.js TC meeting 2015-05-13 voted for joining the Node.JS Foundation, meeting notes are @ iojs/io.js#1700 and the video is @ http://www.youtube.com/watch?v=UbYiFLf7MpU. As per iojs/io.js#1705 all repos and related working groups will be moved to the new "nodejs" org.

So without further ado; should the Docker Working Group join the Node.JS Foundation or not?

[2015-05-15 14:03] pesho commented on #58
Definitely +1 for joining.

We also need to decide how to handle the merging of io.js/Node.js docker images in the future (after the first converged release). Specifically:
- How will the new image be called? `node` or `nodejs`?
- Which GitHub repo for the sources? The current one makes the most sense probably, but it will need to be renamed, and the branches from [joyent/docker-node](https://gith

[2015-05-15 14:19] Starefossen commented on #58
Definitely +1 for joining from me as well.

The current image on Docker Hub is called [`node`](https://registry.hub.docker.com/_/node/), I would suggest we stick with that.

+1 for renaming the current one and merging in maintained joyent/docker-node versions. I see joient/docker-node has a `: wheezy` image tag that iojs/docker-iojs has not.

+1 from me as well.

[2015-05-15 16:19] yosifkit commented on #58
Just a quick +1 on keeping the name as `node` on the Docker hub.  The Hub doesn't really have alias name support or any way to cleanly redirect one image repo to another, though you could poke support@docker.com to make sure they know you want alias naming (ie, `node` and `nodejs`).

[2015-06-17 11:12] lo1tuma opened #68 "Missing iojs 2.3.0 image"
Hi,

io.js 2.3.0 was released a few days ago, but there is still no 2.3.0 image in the official docker registry.

[2015-06-17 17:12] Starefossen commented on #68
I'm on it – sorry for the wait :snail:

[2015-06-17 17:24] #68 closed, assigned to Starefossen

[2015-06-17 17:36] lo1tuma commented on #68
Thank you :beers:.

[2015-06-17 17:38] Starefossen commented on #68
Ok, this has been submitted to the Docker Library.

[2015-06-17 20:19] tianon opened #70 "1.8"
Is 1.8 still "supported"?  ie, if there's a problem discovered with 1.8.2, will there be a 1.8.3?

If it is still supported, is there some documentation somewhere pointing to supported versions (especially with EOL dates)?

[2015-06-17 20:39] Starefossen commented on #70
Yes, io.js v1.x is still supported; nodejs/io.js#1736 is a work in progress backport of changes from v2.

The process of long term support is being discussed by the @nodejs/lts working group (https://github.com/nodejs/lts/issues) and will probably be finalised before the next major release of Node.JS is ready.

[2015-06-17 20:44] tianon commented on #70
Nice, thanks for clarifying! :heart:

[2015-06-18 09:17] #70 closed, assigned to nobody

[2015-06-25 21:15] Starefossen commented on #28
Closing since the documentation of the tags was vastly improved in #52.

[2015-06-25 21:15] #28 closed, assigned to nobody

[2015-07-01 22:56] corbinu opened #72 "npm WARN cannot run in wd node-gyp"
I am canot get node-gyp rebuild to run as an install step within the docker container:

npm install @corbinu/couchbase

gives the error
npm WARN cannot run in wd node-gyp @corbinu/couchbase@2.0.11 node-gyp rebuild

Any ideas?

[2015-07-02 04:17] Starefossen commented on #72
This is a `npm` issue npm/npm#3497 since the Docker image runs as root by default.

You can either run the image as a non-root user or `npm install --unsafe-perm`.

[2015-07-02 04:23] corbinu commented on #72
OK so perhaps I should issue a pull request to here then to set the default .npmrc to have

unsafe-perm = true

Or would it be better to open an issue with npm?

Is it possible to configure NPM with an environment var? maybe issue a PR there that detect something like NPM_UNSAFE_PERM=true and then set that by default in the iojs and node docker containers?

[2015-07-04 15:53] Starefossen commented on #72
Yes, setting this via environment variables would be the best. Not sure if we should do this by default since it introduces some security issues.

We want to investigate how to best run these images under a non-root user.

[2015-07-05 13:30] palamccc opened #75 "Request for iojs-2.3.3 Dockerfile"
iojs-2.3.3 is available now with high security bug fix, https://medium.com/@iojs/important-security-upgrades-for-node-js-and-io-js-8ac14ece5852

[2015-07-05 19:00] #75 closed, assigned to nobody

[2015-07-08 01:24] rvagg opened #77 "Convergence plans with joyent/docker-node team"
As per https://github.com/joyent/docker-node/issues/28 I've added @chorrell and @dcrudgington to the @nodejs/docker team. Handing over to y'all now to discuss how to converge your resources to continue to produce both images but as a combined team. Timing and the details of how you manage both repos are entirely up to you of course. As usual if you need any resources from the Build WG then just @-

[2015-07-08 01:27] rvagg commented on #77
Also going to ping @mhart who maintains an alpine-node container and really should be involved in this WG!

[2015-07-08 15:03] retrohacker commented on #77
Much :heart:! Glad to be working with you all!

[2015-07-08 15:06] Starefossen commented on #77
Awesome 😄🚀

[2015-07-24 10:20] megastef opened #80 "Reduce Image Size - Alpine Linux, update apk"
Hi,

are there any plans to use optimize the image size?
We where using iojs image and a customer complained about the image with more than 700 MB, and suggested iojs-slim. The result was still 300 MB - including [spm-agent-docker](https://github.com/sematext/spm-agent-docker).

After using this as base:

[code]

the image size for spm-agent-docker had a final size of 123 MB.
But here is my concer

[2015-07-24 12:04] Starefossen commented on #80
Hi @megastef,

Yes the current image is not as slim as it could have been. There is a lengthy disucssion in issue #44 you should check out regarding the possibility to provide a bussybox/alpine linux image.

The difficulty is to maintain the integrity of the installed binaries and the Docker Image since this would be considered an official distribution of Node.JS / io.js which people will use in t

[2015-07-28 19:05] asafyish commented on #80
@megastef You can use https://github.com/mhart/alpine-node

[2015-08-06 14:41] chorrell commented on #77
So I think we can probably just move the docker-node repo over to http://github.com/nodejs/ this week or next if everyone ls fine with that. We probably need to coordinate a few things though :)

For the short term (pre-merge) I'm fine with being the point maintainer of the docker-node image for any updates. I have admin rights to initiate the org switch, I'll just need someone to accept it on the

[2015-08-06 14:46] Starefossen commented on #77
Sounds like a good plan @chorrell 😄

Are there any points in merging the two repos?

[2015-08-06 15:23] chorrell commented on #77
There are a few things I think we'll want to talk about:
- See where things diverge in the Dockerfiles and make a call on what we want to do there. I think docker-node has a slightly different slim variant and also has an additional wheezy variant. I also recently merged this: https://github.com/joyent/docker-node/pull/31. We'll want to incorporate that :)
- Update the docker-node README.md and LI

[2015-08-10 21:02] retrohacker commented on #77
@chorrell re: testing. I've built https://github.com/wblankenship/dante to automate testing.

I created a branch https://github.com/wblankenship/docker-iojs/tree/tests that shows dante smoke testing iojs.

Really the only work left is getting it into a Jenkins buiild. I've setup a server for us on Digital Ocean, and started writing an ansible script to automate setting it up, but am only about hal

[2015-08-10 21:10] retrohacker commented on #77
Noite: to run the tests, simply run `dante` in the root of that project. It reads `inventory.ini` and builds the dockerfiles and tests.

At this point, all we need to do is get it into Jenkins. Jenkins is pretty foreign to me, so if  someone knows there way around it and wants to tackle it, here is the current state of our jenkins build server: https://github.com/wblankenship/docker-integration

[2015-08-11 08:27] hmalphettes commented on #44
In this presentation redbeard makes the case that we should build our iojs/nodejs containers from scratch instead of relying on a general purpose distro: https://www.youtube.com/watch?v=gMpldbcMHuI

[2015-08-11 08:36] Starefossen commented on #44
Yes, or we can take [this approach](https://strongloop.com/strongblog/containerizing-node-js-apps-with-docker-and-strongloop/) by @rmg.

[2015-08-11 09:27] goloroden commented on #44
@hmalphettes Highly interesting talk, thanks for the link :-)!

Basically, I agree with you, but… I think the solution can not be that every developer who wants to run Node.js using Docker has to build her or his own container. We need a really small and reliable official base image. Of course, this can be built using the techniques shown in the video, but it should be done once, not over and over

[2015-08-12 01:49] hmalphettes commented on #44
@Starefossen good point: build-container and runtime-container.
For my daily work I use the full iojs for builds and then copy the application and its node_modules into iojs-slim for the runtime.
Those techniques add-up: the smaller the runtime container iojs provides and the smaller my application's runtime container will be.

@goloroden yes agreed. What I understood from the talk is that nodejs/

[2015-08-12 07:47] hmalphettes commented on #44
@Starefossen and friends: if we want to build iojs on the top of alpinelinux would this type of Dockerfile from @mhart be acceptable: https://github.com/mhart/alpine-node/blob/master/Dockerfile?
With @mhart's kind permission we can adopt it and derive the full, slim and onbuild versions.

Short of that we need to get involved with alpinelinux to maintain the iojs package.

[2015-08-13 17:07] retrohacker commented on #44
@hmalphettes @mhart is actually involved in this thread ;-)

https://github.com/nodejs/docker-iojs/issues/44#issuecomment-95969892

The blocker is testing which is being talked about in these threads:
- https://github.com/nodejs/docker-iojs/issues/46
- https://github.com/nodejs/docker-iojs/issues/77

Once we get testing figured out, we can take it to the @nodejs/build team to get signed off on it

[2015-08-13 17:30] mhart commented on #44
Yeah, so FWIW we've been running the Uniqlo US Mobile site on alpine-iojs in production for at least 6 months now with no problems (on 2.5.0 atm, haven't moved to 3.0.0 yet)

I'm more than happy for ppl to use the image and/or the Dockerfile for whatever they'd like (and the license in the project should cover that).

I try to keep it up to date as soon as new node/io.js releases come out, but giv

[2015-08-13 20:39] rmg commented on #44
@Starefossen thanks for the mention :-)

_writes a long comment, reads thread, deletes comment because everything had already been said_

:+1:

[2015-08-14 01:15] mkrn commented on #44
Thanks for the image
Something is not right with compiled modules, for example (runtime,  npm install seems ok except few warnings):
Error: Error loading shared library /usr/src/app/node_modules/twelve/node_modules/bson/build/Release/bson.node: Exec format error]

[2015-08-14 01:20] rmg commented on #44
@mkrn did you mean to post that as a new issue? Or is it related to this discussion about using alpine linux as a base image?

[2015-08-14 14:44] mkrn commented on #44
Nevermind please @rmg   I think node_modules were copying from my machine until i've added them to .dockerignore

Thanks for the image!

[2015-08-17 13:22] chorrell commented on #77
Oh, interesting. Nice.

Er, how do you install `dante`?

[2015-08-17 14:12] retrohacker commented on #77
Good question. Right now I'm just building from source (`go install github.com/wblankenship/dante`).

Relatively new to go package distribution, I assume best practice here is to deliver a prebuilt binary? I'll cut a release now.

[2015-08-18 22:19] retrohacker commented on #77
@chorrell woah, go's crosscompiling support is wicked awesome. Just cut a release, let me know if you have any problems with these binaries: https://github.com/wblankenship/dante/releases/tag/v1.0.0

[2015-08-19 01:39] chorrell commented on #77
oh, nice! The `dante-darwin-amd64` binary worked just fine for me

[2015-08-25 14:04] AntouanK commented on #80
I was also surprised when I saw the size of the official images.
~700MB for running node is... wrong.
Fortunately I found @mhart 's nice alpine-linux node containers, which are MUCH smaller ( ~35MB or 5% ! ) , and I'm using those for everything.
So my question was, how come a container that's 5% the size of another one, does practically the same thing ( for someone that wants to run node on it )

[2015-08-25 15:01] retrohacker commented on #80
@AntouanK:

A lot of work has gone into this. And that effort is underway: https://github.com/nodejs/docker-iojs/issues/44 (the maintainer of `alpine-node` image you use is in that discussion)

Right now, if you inspect the image layers for iojs:latest (using `docker history iojs:latest`), you will see that:
- 34.6MB - Installing node.js iteslf
- 26.45kb - Downloading the gpg keys

The rest of the

[2015-08-25 15:44] AntouanK commented on #80
@wblankenship Glad to hear you are working on this.

I do know that the "fs layers" are reused.
But why do we need that debian one in the first place ( apart from "it's convenient" )? Just because a lot of other images are based on it? Doesn't sound like a good enough reason to me.
I thought that those 600MB have things that you need in order to run node.

I did the same exact process for building

[2015-08-25 16:58] cronopio commented on #80
Some companies want to use Node.js but there are concerns about security. Own images need some sort of trust between devs and that is ok for low/middle size open source projects, but large OS projects and companies need more levels of trust, thats why debian/ubuntu even fedora/rhel images are used as base, those images are reviewed for more eyes and have more users that could discover some issues

[2015-08-25 17:51] AntouanK commented on #80
@cronopio Well, I think using less 3rd party software increases security, and not the opposite.

[2015-08-25 18:43] retrohacker commented on #80
@AntouanK `buildpack-deps:jessie` comes with a bunch of handy shared libraries and tools. There are many common natvie modules in Node.js that can build inside of the official docker images because these packages are included in our base image.

This includes things like:
- image-magick
- libncurses
- python
- g++
- gcc
- make
- git
- curl
- and [many more](https://github.com/docker-library/buildp

[2015-08-25 20:54] retrohacker commented on #77
@chorrell https://github.com/nodejs/build/issues/168

[2015-08-25 23:40] chorrell commented on #77
:+1:

[2015-09-04 14:32] chorrell commented on #77
Hi all,

I'm going to kick off the org switch today to move docker-node to the nodejs org.

After that I'm going to create a fork and work on testing a Node.js 4.0.0 RC-1 docker image to prep for a 4.0.0 release.

[2015-09-04 14:35] chorrell commented on #77
Oh, and I'll handle the update and pull request for https://github.com/docker-library/official-images too :)

[2015-09-04 14:42] chorrell commented on #77
"You don’t have admin rights to nodejs" Doh. That didn't work the way I expected it too...

Reading this: https://help.github.com/articles/transferring-a-repository/

Apparently I need admin rights in nodejs...

[2015-09-04 14:45] mikeal commented on #77
@chorrell can you add me to that repo? I can move the repo and add whatever teams you need on it.

[2015-09-04 14:46] chorrell commented on #77
@mikeal Will do, thanks!

[2015-09-04 14:47] chorrell commented on #77
Done, you should be an admin for the repo now

[2015-09-04 14:48] mikeal commented on #77
I must be pulling up the wrong link, which repo am I transferring? :)

[2015-09-04 14:49] chorrell commented on #77
https://github.com/joyent/docker-node

:)

[2015-09-04 15:05] mikeal commented on #77
transferred, i added build, docker and docker-admin teams to it.

[2015-09-04 15:06] chorrell commented on #77
Nice, thanks!

[2015-09-04 16:22] Starefossen commented on #77
Thanks @mikeal

[2015-09-04 20:16] chorrell commented on #77
@mikeal Hmm, I don't think the docker team has admin-type access yet: https://github.com/orgs/nodejs/teams/docker/repositories

[2015-09-04 20:38] chorrell commented on #77
Or I just don't understand how teams and admin access etc work...

[2015-09-05 01:31] rvagg commented on #77
I added docker-node to the repos list for that team, you should all now have admin on both repos

![screen shot 2015-09-05 at 11 29 10 am](https://cloud.githubusercontent.com/assets/495647/9697051/8f7f70f2-53c1-11e5-8d00-e4943203c31b.png)

[2015-09-05 07:18] Starefossen commented on #77
@chorrell should we consolidate the docker repos or just discontinue the docker-iojs one?

[2015-09-08 18:46] chorrell commented on #77
@Starefossen I think we should definitely consolidate some things. For instance I would love to the automated testing work added to the nodejs image: https://github.com/nodejs/docker-iojs/issues/46

[2015-09-09 01:05] chorrell commented on #77
Oh, and the README!

[2015-10-13 21:13] Starefossen commented on #77
I'm closing this now since the converge has been completed.

[2015-10-13 21:13] #77 closed, assigned to nobody

[2015-10-13 21:14] #72 closed, assigned to nobody

[2015-10-13 21:16] Starefossen commented on #58
Closing since the converge has been completed.

[2015-10-13 21:16] #58 closed, assigned to nobody

[2015-10-14 02:06] retrohacker commented on #23
User namespaces have made it into the experimental release of Docker. https://github.com/docker/docker/pull/12648

[2015-10-14 02:13] retrohacker commented on #46
I've been a blocker on this for a while. Unassigning myself incase someone else wants to take a pass at it.

So far, I've created a tool for automated testing of Docker images: https://github.com/wblankenship/dante

And put together some smoke tests for the Docker image, which follows the work of rvagg: https://github.com/wblankenship/docker-iojs/blob/tests/tests/iojs/Dockerfile

These tests are e

[2015-11-04 06:56] hmalphettes commented on #44
@mhart installing `procps` adds support for `ps -p` as suggested by @oren here: https://github.com/oren/test-iojs-docker-alpine/commit/72f6f35a3e69483584de2651a251ae0d88d7e099

There are 3 failing tests for v5.0.0:
- `test-module-loading-error.js` fails as reported above already. The error message is `Exec format error` which makes sense for an invalid node life. Note that if we compile it with `-

[2016-06-14 23:13] polarathene commented on #44
@hmalphettes Were you able to solve `Dynamic loading not supported`? I am using a node package running `process.dlopen()` that is throwing this error on an Alpine container.

[2016-06-14 23:21] mhart commented on #44
@polarathene that probably means you're using a statically compiled node.js binary? Which Alpine container (and tag) are you using?

[2016-06-14 23:44] polarathene commented on #44
@mhart I'm using `FROM smebberson/alpine-nodejs` from [this repo](https://github.com/smebberson/docker-alpine). They have a base alpine image and several examples extending it, once I get this working without errors I'll be using the docker images that include consul from the repo.

You're correct about them using a static compiled node.js binary I think, [here is the Dockerfile for the image I'm

[2016-06-14 23:48] mhart commented on #44
Yep, they're definitely statically compiling: https://github.com/smebberson/docker-alpine/blob/master/alpine-nodejs/Dockerfile#L9

You could use another image that doesn't statically compile. I have a bunch of them over here: https://github.com/mhart/alpine-node

So you could use `mhart/alpine-node:6` or `mhart/alpine-node:5` or `mhart/alpine-node:4` or whatever you'd like.

Or if you want to cont

[2016-06-15 00:11] polarathene commented on #44
I've created an issue on their repo letting them know about it, until then I'll give your images a go :)

Thanks for the help, I looked into advantages/disadvantages of using dynamic linking instead of a static linking [here](https://www.ibm.com/support/knowledgecenter/ssw_aix_61/com.ibm.aix.performance/when_dyn_linking_static_linking.htm), any idea if performance/memory is affected much with Node